        <!-- - banner -->
        <div class="banner wow fadeIn bg" data-wow-delay="0.5s">
            <div class="container">
                <div class="banner-info text-center">
                    <h1>Construye el Sitio Web de tus sueños</h1><br />
                    <span> </span>
                    <p>Nos apasiona hacer tus ideas realidad.</p>
                </div>
            </div>
        </div>
        <!-- - banner -->
        <!--  services -->
        <div id="services" class="services">
            <div class="container">
                <div class="service-head text-center">
                    <h2>Nuestros Servicios</h2>
                    <span> </span>
                </div>
                <!--  services-grids -->
                <div class="services-grids text-center">
                    <div class="col-md-4">
                        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
                            <span class="service-icon glyphicon glyphicon-cog"> </span>
                            <h3><a href="#">Desarrollo y Diseño Web</a></h3>
                            <p>Desde una pagina para mostrar tu portafolio hasta un complejo sistema
                            web. Transformamos ideas en diseño y codigo. Construimos tus sueños
                            usando las mejores tecnologias.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
                            <span class="service-icon glyphicon glyphicon-knight"> </span>
                            <h3><a href="#">Soporte y Consultoria</a></h3>
                            <p> Te ayudamos a incrementar, corregir o reparar tu sistema o pagina web.
                                ELige las tecnologias y alianzas correctas para tus necesidades.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service-grid wow bounceIn" data-wow-delay="0.4s">
                            <span class="service-icon glyphicon glyphicon-thumbs-up"> </span>
                            <h3><a href="#">Marketing y Redes Sociales</a></h3>
                            <p>Aumenta o mide el trafico de tu sitio, usa el poder de las redes
                            sociales para potenciar tu marca.</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!--  services-grids -->
            </div>
        </div>
        <!--  services -->
        <div class="clearfix"> </div>
        <!--  portfolio -->
        <div id="catalog">
            <div class="portfolio-top">
                <div class="col-md-8">
                    <div class="portfolio-top-left wow fadeInLeft" data-wow-delay="0.4s">
                        <h3>Catalogo</h3>
                        <p>Visita nuestro catalogo de paginas y aplicaciones:</p>
                        <div class="portfolio-top-left-grids hidden">
                            <div class="portfolio-top-left-grid">
                                <div class="portfolio-top-left-grid-left">
                                    <span class="p-icon1"> </span>
                                </div>
                                <div class="portfolio-top-left-grid-right">
                                    <h5>Sail Away Your Worries</h5>
                                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="portfolio-top-left-grid">
                                <div class="portfolio-top-left-grid-left">
                                    <span class="p-icon2"> </span>
                                </div>
                                <div class="portfolio-top-left-grid-right">
                                    <h5>All-star support team</h5>
                                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="portfolio-top-left-grid">
                                <div class="portfolio-top-left-grid-left">
                                    <span class="p-icon3"> </span>
                                </div>
                                <div class="portfolio-top-left-grid-right">
                                    <h5>fully Integrated service</h5>
                                    <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 hidden portfolio-top-right-inner wow fadeInRight" data-wow-delay="0.4s">
                    <div class="portfolio-top-right">

                    </div>
                </div>
                <div class="clearfix"> </div>
                <!-- - portfolio-works -->
                <div class="portfolio-works">
                    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="portfolio-work-grid-pic">
                            <img src="images/p1.jpg" title="name" />
                        </div>
                        <div class="portfolio-work-grid-caption">
                            <h4>Sistemas Web</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="portfolio-work-grid-pic">
                            <img src="images/p2.jpg" title="name" />
                        </div>
                        <div class="portfolio-work-grid-caption">
                            <h4>Catalogos</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="portfolio-work-grid-pic">
                            <img src="images/p3.jpg" title="name" />
                        </div>
                        <div class="portfolio-work-grid-caption">
                            <h4>Portafolios</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="portfolio-work-grid-pic">
                            <img src="images/p4.jpg" title="name" />
                        </div>
                        <div class="portfolio-work-grid-caption">
                            <h4>Blog</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="portfolio-work-grid-pic">
                            <img src="images/p5.jpg" title="name" />
                        </div>
                        <div class="portfolio-work-grid-caption">
                            <h4>E-commerce</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
                        <div class="portfolio-work-grid-pic">
                            <img src="images/p6.jpg" title="name" />
                        </div>
                        <div class="portfolio-work-grid-caption">
                            <h4>Sitio Web</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- - portfolio-works -->
            </div>
        </div>
        <!--  portfolio -->
        <!--  Other Expertise -->
        <div id="otros" class="expertise">
            <div class="expertice-grids">
                <div class="col-md-8 expertice-left-grid wow fadeInLeft" data-wow-delay="0.4s">
                    <div class="expertise-head">
                        <h3>Otros Servicios</h3>
                        <p>Tenemos alianzas estrategicas que nos permiten ofrecerte mas servicios.</p>
                    </div>
                    <div class="expertise-left-inner-grids">
                        <div class="e-left-inner-grid">
                            <div class="e-left-inner-grid-left">
                                <span class="e-icon glyphicon glyphicon-education"> </span>
                            </div>
                            <div class="e-left-inner-grid-right">
                                <h4>Entrenamiento y Capacitacion</h4>
                                <p>
                                    Conoce los entrenadores que desarrollaran tu potencial. <br/>
                                    <a href="#">Catalogo de cursos</a>.
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="e-left-inner-grid">
                            <div class="e-left-inner-grid-left">
                                <span class="e-icon glyphicon glyphicon-briefcase"> </span>
                            </div>
                            <div class="e-left-inner-grid-right">
                                <h4>Ventas</h4>
                                <p>Incrementa tus ventas, entra a nuestra <br/>
                                <a href="#">red de negocios</a>.</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="e-left-inner-grid">
                            <div class="e-left-inner-grid-left">
                                <span class="e-icon glyphicon glyphicon-cd"></span>
                            </div>
                            <div class="e-left-inner-grid-right">
                                <h4>Software</h4>
                                <p>
                                    Contamos con Herramientas para aumentar el valor de tu negocio. <br/>
                                    <a href="#">Consulta nuestro catalogo</a>.
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="e-left-inner-grid">
                            <div class="e-left-inner-grid-left">
                                <span class="e-icon glyphicon glyphicon-lock"> </span>
                            </div>
                            <div class="e-left-inner-grid-right">
                                <h4>Seguridad</h4>
                                <p>
                                Protege tu empresa y tu inversion. <br>
                                <a href="#">Conoce mas</a>.
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <a class="leran-more hidden" href="#">Learn more</a>
                </div>
                <div class="col-md-4 expertice-right-grid wow fadeInRight" data-wow-delay="0.4s">

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!--  Other Expertise -->
        <!-- - about -->
        <!-- start-about-->
        <div class="about hidden">
            <div class="wrap">
                <div class="about-head">
                    <h1>About us</h1>
                    <span> </span>
                </div>
                <!-- start-about-time-line-->
                <div class="about-time-line">
                    <li>
                            <div class="cbp_tmicon img1"> </div>
                            <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                                <h2>July 2010 Our Humble Beginnings</h2>
                                <p>Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                            </div>
                    </li>
                    <li>
                            <div class="cbp_tmicon1 img2"> </div>
                            <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                                <h2>January 2011 Facing Startup Battles </h2>
                                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
                            </div>
                    </li><br />
                    <li>
                            <div class="cbp_tmicon2 img3"> </div>
                            <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
                                <h2>December 2012 Enter The Dark Days </h2>
                                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni.</p>
                            </div>
                    </li>
                    <li>
                            <div class="cbp_tmicon3 img4"> </div>
                            <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
                                <h2>January 2013Our Triumph </h2>
                                <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean.</p>
                            </div>
                    </li>
                    <li>
                            <div class="cbp_tmicon4 img5"> </div>
                    </li>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
                </div>
                <!-- //End-about-time-line-->
            <!-- - about -->
        </div>
        <!-- - team -->
        <div id="team" class="team-members hidden">
                <div class="wrap">
                    <div class="tm-head">
                        <h3>our amazing team</h3>
                        <p>Proin iaculis purus consequat sem cure.</p>
                    </div>
                    <div class="tm-head-grids">
                        <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
                            <img src="images/team-member1.jpg" alt="">
                            <h4>Kimberly Thompson</h4>
                            <h5>Marketer</h5>
                            <ul class="top-social-icons">
                                <li><a class="twitter" href="#"> </a></li>
                                <li><a class="facebook" href="#"> </a></li>
                                <li><a class="pin" href="#"> </a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
                            <img src="images/team-member2.jpg" alt="">
                            <h4>Rico Massimo</h4>
                            <h5>Coder</h5>
                            <ul class="top-social-icons">
                                <li><a class="twitter" href="#"> </a></li>
                                <li><a class="facebook" href="#"> </a></li>
                                <li><a class="pin" href="#"> </a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
                            <img src="images/team-member3.jpg" alt="">
                            <h4>Uku Mason</h4>
                            <h5>Graphic Designer</h5>
                            <ul class="top-social-icons">
                                <li><a class="twitter" href="#"> </a></li>
                                <li><a class="facebook" href="#"> </a></li>
                                <li><a class="pin" href="#"> </a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <p class="team-info">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
                </div>
        </div>
        <!-- - team -->
        <!-- - contact -->
        <div id="contact" class="contact">
            <div class="container">
                <div class="contact-grids">
                    <div class="col-md-12">
                    <!-- <div class="col-md-6"> -->
                        <div class="contact-left wow fadeInRight" data-wow-delay="0.4s">
                            <h3>Contactanos :)</h3>
                            <p>
                                Adan Navarro: parsifal63@outlook.com <br/>
                                Daniel Zamorano: daniel.zamorano.m@gmail.com
                            </p>

                            <!-- <label>
                                Don't be shy, drop us an email and say hello! We are a really nice bunch of people :)
                            </label>
                            <div class="contact-left-grids">
                                <div class="col-md-6">
                                    <div class="contact-left-grid">
                                        <p><span class="c-mobi"> </span>(416) 555-0000</p>
                                        <p><span class="c-twitter"> </span><a href="#">@dreams</a></p>
                                        <p><span class="c-pluse"> </span><a href="#">plus.com/dreams</a></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="contact-right-grid">
                                        <p><span class="c-msg"> </span><a href="mailto:hello@dreams.com">hello@dreams.com</a></p>
                                        <p><span class="c-face"> </span><a href="#">facebook.com/dreams</a></p>
                                        <p><span class="c-pin"> </span><a href="#">pinterest.com/dreams</a></p>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-right wow fadeInLeft" data-wow-delay="0.4s">
                            <form>
                                <input type="text" class="text" value="Name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name...';}">
                                <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
                                <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message..</textarea>
                                <input class="wow shake" data-wow-delay="0.3s" type="submit" value="Send Message" />
                            </form>
                        </div>
                    </div> -->
                    <div class="clearfix"> </div>
                </div>
                <!--  copy-right
                <div class="copy-right text-center">
                    <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
                    <a href="#" id="toTop" style="display: block;">
                        <span id="toTopHover" style="opacity: 1;"></span>
                    </a>
                </div>
                <!--  copy-right -->
            </div>
        </div>
        <!-- contact  -->
